.grid {
  display: grid;
  grid-template-columns: repeat(6, 3px);
  gap: 10px;
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--color-accent);
  opacity: 0.3;
}

@media (max-width: 576px) {
  .grid {
    display: none;
  }
}
