.stamp {
  position: absolute;
  top: 80px;
  right: 80px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.stamp img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 991px) {
  .stamp {
    width: 110px;
    height: 110px;
    top: 60px;
    right: 40px;
  }
}

@media (max-width: 576px) {
  .stamp {
    display: none;
  }
}
